<% extend('../layouts/app') %> 

<section class="content-header">
  <h1>
    List Pengerjaan Batching PM
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">List Pengerjaan Batching PM</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
  <div class="col-xs-12">
      <div class="box">
      <div class="box-header">
          <h3 class="box-title">LIst Pengerjaan Table</h3>

          <div class="box-tools">
            <button class="btn btn-primary" id="scan-btn">Scan Barcode / QRCode</button>
          </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
          <tr>
              <th>ID</th>
              <th>Rps</th>
              <th>Line</th>
              <th>Bo</th>
              <th>Code Product</th>
              <th>Pengerjaan</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
          
          <tr>
              <td>183</td>
              <td>38</td>
              <td>LINE A</td>
              <td>36365</td>
              <td>MCSVF003</td>
              <td>Senin - Selasa</td>
              <td><span class="label label-warning">Sedang di kerjakan</span></td>
              <td>
                  <a href="kerjakan/bo/36365" class="btn btn-sm btn-success">Kembali kerjakan</a>
              </td>
          </tr>
          <tr>
              <td>184</td>
              <td>38</td>
              <td>LINE A</td>
              <td>35758</td>
              <td>CSPVB003</td>
              <td>Selasa</td>
              <td><span class="label label-danger">belum di kerjakan</span></td>
              <td>
                  <a href="kerjakan/bo/36365" class="btn btn-sm btn-success">kerjakan</a>
              </td>
          </tr>
          </table>
      </div>
      <!-- /.box-body -->
      </div>
      <!-- /.box -->
  </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="Scan" tabindex="-1" role="dialog" aria-labelledby="ScanLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ScanLabel">35758 | CSPVB003</h4>
        </div>
        <div class="modal-body">
            <div id="qr-reader" style="width: 100%;"></div>
            <div id="qr-reader-results"></div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div>


<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
<script defer>
    const scanBtn = document.getElementById('scan-btn');
    const resultContainer = document.getElementById('qr-reader-results');
    let lastResult, countResults = 0;
    let html5QrcodeScanner = new Html5QrcodeScanner(
        "qr-reader", { fps: 10, qrbox: 250 }
    )

    function onScanSuccess(decodedText, decodedResult) {
        if (decodedText !== lastResult) {
            ++countResults;
            lastResult = decodedText;
            // Handle on success condition with the decoded message.
            console.log(`Scan result ${decodedText}`, decodedResult);
        }
        html5QrcodeScanner.clear();
        $('#Scan').modal('toggle')
    }
    
    scanBtn.addEventListener('click',(e) => {
        $('#Scan').modal('toggle')
        html5QrcodeScanner.render(onScanSuccess);
    });

    const log = localStorage.getItem('pengerjaan-bo');
    console.log(log)
</script>